ConnectionStrings:PostgresConnectionString="Host=postgres:5432;Database=transportservice_db;Username=user_transportservice_db;Password=password_transportservice_db"
ConnectionStrings:RabbitMQHost="rabbitmq"
ConnectionStrings:RabbitMQUser="user_rabbitmq"
ConnectionStrings:RabbitMQPassword="password_rabbitmq"